@use '../base/vars' as *;
@use '../utils/mixins' as *;
.filter {
  @include respond(lg) {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #0000004d;
    z-index: 5000;
    transition: 0.2s;
  }
}
.filter.active {
  display: block;
}
.filter-toggle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  @include respond(lg) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3.375rem 1.5rem 7.125rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: $white-color;
  }
}

.filter__line {
  display: none;
  @include respond(lg) {
    display: block;
    height: 0.25rem;
    width: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f202099;
    position: absolute;
    border-radius: 2.5rem;
    top: 0.75rem;
  }
}

.filter-toggle__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

/* Скрытый чекбокс */
.filter-toggle__checkbox {
  display: none;
}

/* Основной переключатель */
.filter-toggle__switch {
  position: relative;
  width: 36px;
  height: 22px;
  background-color: #f2f2f2;
  border-radius: 40px;
  transition: background-color 0.2s;
}

/* Активное состояние: цвет и положение круга */
.filter-toggle__checkbox:checked + .filter-toggle__switch {
  background-color: $primary-color;
}

/* Бегунок (круг) */
.filter-toggle__thumb {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: $text-color;
  border-radius: 50%;
  transition: transform 0.2s ease;
  transform: translateY(-50%);
}

/* Активное состояние — только горизонтальное смещение */
.filter-toggle__checkbox:checked + .filter-toggle__switch .filter-toggle__thumb {
  transform: translate(16px, -50%);
}
